<div id='message'>
  <div contenteditable="true">
    {{model.from}}
  </div>
  <div contenteditable="true">
    {{{model.subject}}}
  </div>
  <div contenteditable="true">
    {{{model.body}}}
  </div>
</div>
