<div id="message_page">
  <div id='message_box'>
    <div id='message'>
      <div class='subject' contenteditable="true">
        {{{model.subject}}}
      </div>
      <div class='body' contenteditable="true">
        {{{model.body}}}
      </div>
      <div class='from'>
        <!-- <span class='subtle'>from</span> -->
        &ndash; <span contenteditable="true">{{model.from}}</span>
      </div>
    </div>
    <!-- <div class='quote left-quote'>&ldquo;</div>
    <div class='quote right-quote'>&rdquo;</div> -->
  </div>
</div>
